/* style interface mobile media querie*/
@media screen and (max-width: 1100px) {

    .card-body{
        height: 100px;
        padding-bottom: 15px; 
 }
 .card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
 }

 .product-details{
    padding: 0;
    position: relative;
 }
 .product-details a{
    text-decoration: none;
 }

 .product-details h1{
    color: #24a224;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
 }

 .product-name a{
    transition: color 0.3s;
    font-size: 15px;
    margin: 0 0 2rem;
    color: inherit;
    font-weight: 600;
 }

 .rating-reviews{
    margin-top: 2px;
    margin-bottom: 8px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-size:  15px;
    color: #000;    
    margin: 2px 0;
 }
 .ratings-container{
    line-height: 1;
    margin-bottom: 0.9rem;
    font-size: 1.2rem;
 }
 .d-block {
    display: block !important;
}

.product-action {
    position: relative;
    visibility: visible;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    background-color: transparent;
    z-index: 10;
    transition: opacity 0.3s, visibility 0.3s, bottom 0.3s;
    margin-right: 19px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

@media screen and (max-width: 576px) {
    .product-price{
    margin-right: 19px;
    font-size: 1.4rem;
    }

    }

    /* style slider */
    #slide {
        width: 100%; 
        max-width: 1000px;
        padding-top: 0;
        height: 100%;
    }

    #carouselExampleControls{
        min-height: 100px;
        }
    /* end style silder*/

    #icon-text{
        color: #000;
        font-size: 14px;
        margin-top: 5px;
    }

    /*icon comment ça marche*/
    .fa-info-circle{
       margin-right: 5px;
    }
     /* end icon comment ça marche*/

    }

     /*style bouton*/
     @media screen and (max-width: 768px) {
        .btn-primary {
            background-color: #24a224;
            border-radius: 1px solid #24a224;
        }

        .btn-primary h6{
            color: #fff;
            font-size: 14px;
        }
        .btn-secondary h6{
            color: #000000;
            font-size: 14px;
        }

        .btn-secondary h6{
            color: #000000;
            font-size: 14px;  
        }

        .btn-default h6{
            color: #000;
            font-size: 14px;  
        }

        .btn-secondary{
            background-color: #808080;
            border-radius: 1px solid #24a224;
        }

        .btn-default{
            background-color: #808080;
            border-radius: 1px solid #24a224;
        }
        
     /* end style bouton*/

    /* cards tablet*/
     @media screen and (max-width: 768px){
        /* .button-vip {
            margin-left: 80%;
            margin-top: 5px;
            height: 30px;
            background-color: #24a224;
            width: 47px;
            font-size: 12px;
            font-weight: bold;
        } */

        .card-body{
            height: auto;
            padding-bottom: 15px; 
     }

     .card {
        width: 100%;
        height: 100%;
        margin: 0 auto;
     }

     .card-body p{
        font-size:14px;
     }

     .card-body h6{
        font-size:11px;
     }
    }

    #carouselExampleControls{
        background-color: #ccc;
        }
@media screen and (min-width: 768px){
    #carouselExampleControls{
        min-height: 245px;
        }
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    .button-vip {
        /* margin-left: 75%;
        margin-top: 5px;
        height: 30px;
        background-color: #24a224;
        width: 100px;
        font-size: 15px;
        font-weight: bold; */
        background-color: #24a224;
    }
}.card-body{padding: 0 8px 0px 15px !important}
.position-relative{position: relative !important;}
.vtg-badge{
    width: 45px;height: 25px;line-height: 25px;display: inline-block;position: absolute;right: 15px;top: 5px;;
    border-radius: 0px; background-color: #299613;color: #fff;text-align: center;
}