/**
* Mobile Navigation
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

/* style interface mobile media querie*/
@media screen and (max-width: 1100px) {

    .card-body{
        height: 100px;
        padding-bottom: 15px;
 }
 .card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
 }

 .product-details{
    padding: 0;
    position: relative;
 }
 .product-details a{
    text-decoration: none;
 }

 .product-details h1{
    color: #24a224;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
 }

 .product-name a{
    transition: color 0.3s;
    font-size: 15px;
    margin: 0 0 2rem;
    color: inherit;
    font-weight: 600;
 }

 .rating-reviews{
    margin-top: 2px;
    margin-bottom: 8px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-size:  15px;
    color: #000;
    margin: 2px 0;
 }
 .ratings-container{
    line-height: 1;
    margin-bottom: 0.9rem;
    font-size: 1.2rem;
 }
 .d-block {
    display: block !important;
}

.product-action {
    position: relative;
    visibility: visible;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    background-color: transparent;
    z-index: 10;
    transition: opacity 0.3s, visibility 0.3s, bottom 0.3s;
    margin-right: 19px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

@media screen and (max-width: 576px) {
    .product-price{
    margin-right: 19px;
    font-size: 1.4rem;
    }

    }

    /* style slider */
    #slide {
        width: 100%;
        max-width: 1000px;
        padding-top: 0;
        height: 100%;
    }

    #carouselExampleControls{
        min-height: 100px;
        }
    /* end style silder*/

    #icon-text{
        color: #000;
        font-size: 14px;
        margin-top: 5px;
    }

    /*icon comment ça marche*/
    .fa-info-circle{
       margin-right: 5px;
    }
     /* end icon comment ça marche*/

    }

     /*style bouton*/
     @media screen and (max-width: 768px) {
        #section-bottom{
            padding-top: 10px;
        }

        .title-annonce{
            font-size: 13px;
            color: #000;
        }

        .btn-primary {
            background-color: #24a224;
            border: 1px solid #fff;
            padding-top: 15px;
        }

        .btn-primary h6{
            color: #fff;
            font-size: 14px;

        }
        .btn-secondary h6{
            color: #000000;
            font-size: 14px;
        }

        .btn-secondary h6{
            color: #000000;
            font-size: 14px;
        }

        .btn-secondary h6{
            color: #fff;
            font-size: 14px;
        }

        .btn-secondary{
            background-color: gray;
            padding-top: 15px;
            border: 1px solid #24a224;
        }

     /* end style bouton*/

    /* cards tablet*/
     @media screen and (max-width: 768px){
        .card-body{
            height: auto;
            padding-bottom: 15px;
     }

     .card {
        width: 100%;
        height: 100%;
        margin: 0 auto;
     }

     .card-body p{
        font-size:14px;
     }

     .card-body h6{
        font-size:11px;
     }
    }

    #carouselExampleControls{
        background-color: #ccc;
        }
@media screen and (min-width: 768px){
    #carouselExampleControls{
        min-height: 245px;
        }
}

}


.position-relative{position: relative !important;}
.vtg-badge{
    width: 45px;height: 25px;line-height: 25px;display: inline-block;position: absolute;right: 15px;top: 5px;;
    border-radius: 0px; background-color: #299613;color: #fff;text-align: center;
}

/** Nouveau styles */
.card-item{
    width: 100%;position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between;
}
.card-item .card-media{
    width: 100%;overflow: hidden;display: flex; justify-content: center;align-items: center;
    position: relative;
    padding: 0px;border-color: rgb(80, 78, 78);
}
.card-item .card-details{
    overflow: hidden;display:block;
    background-color: #bcffbc;
    position: relative;
    padding-left:15px;
}

.card-item-novip .card-details{
    overflow: hidden;display:block;
    position: relative;
    padding-left:15px;
}

.item-name h3{
    font-size: 1.4em;
}
.item-meta{width: 100%; margin: 4px 5px 10px 0;}
.item-price h2{
    font-size: 1.2em;font-weight: 600;
}.item-price sup.currency{font-weight: 380;font-size: .78em;}

@media screen and (min-width: 640px){
    .title-annonce{
            font-size: 13px;
            color: #000;
        }
    .item-name{
        max-width: 455px;
        height: 40px !important;
        line-height: 40px;
        overflow: hidden;
    }
    .item-name h3{line-height: 40px;
    }
    .width-25{
        width: 25%;max-width: 25% !important;
    }
}
@media screen and (max-width: 640px){
    .vtg-badge{
        width: 39px;height: 18px;line-height: 18px;font-size: .76em;
    }
    .item-category{
        font-size: .78em;margin-bottom:5px;
    }
    .item-name{
        display: flex;
        position: relative;
        max-width: 235px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 24px !important;
    }
    .item-name h3{
        position: relative;
        max-width: 100%;
        font-size: .9em;
        font-weight:550;
        overflow: hidden;
        text-overflow: ellipsis ellipsis;

    }
    .item-meta{width: 100%; margin: 0px 5px 4px 0;}.item-meta span{font-size: .65em;}
    .item-price h2{
        font-size: 1em;font-weight: 600;
    }

    .card-media{
        height: 100px;
    }
    .card-media img.img-fluid{
        display: block;
        height: 100% !important;
    }
}



/** styles login*/

.card-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 580;
    letter-spacing: 1px;
    text-align: center;
}

.card-header{
    border-radius: 5px 5px 0 0;
}

.bg-bordeau{
    background-color: #24a224;
    color: #fff;
}

.text-white{
    color: red;
}

.text-center {
    text-align: center!important;
}

.py-4{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.py-4{
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;

}

.primary-btn{
    border: 2px solid #299613;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #111111;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    border-radius: 0.25rem;
}

.form-check-input:checked{
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}

.a-text-muted{
    color: red;
    text-decoration: none;
    background-color: transparent;
}


.fa-lock{
    margin-right: 0.25rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.form-label {
	margin-bottom: 0.5rem;
  }


  .submit-btn:hover{
    background: transparent;
    color: #24a224;
    border: 2px solid #299613;
  }

  .card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    border-radius: 5px;
}

.text-red {
    color: #f50c0c;
}

.d-block {
    display: block !important;
}

.text-right {
    text-align: center !important;
}

.submit-btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #24a224;
    color: #fff;
    padding: 9px 24px 6px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}

.margin-y-15 {
    margin: 15px auto !important;
}

  @media screen and (max-width: 768px){
    .spad {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .mb-4 {
        margin-bottom: 1.5rem !important;
    }

  }



